body{
    background-color: lightblue;
  }

h1, h3{
    text-align: center;
   
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,212,255,1) 71%); 
  margin-bottom: 1em;
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  #navbar a {
  display: block;
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: black;
  }
  
  #navbar a:hover{
    color: red;
  }

  p{
    color: black; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px; 
    line-height: 32px; 
    margin: 0 0 24px; 
    background: rgba(92, 15, 236, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(27, 231, 187, 0.25);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .container {
    height: 50px;
    position: relative;
    border: 3px solid green;
    padding:10px;
  }
  
  .vertical-center {
    display:block;
    position:relative;
    margin-top: 7px;
    margin-left: 0%;
    text-align: center;
    height: auto;
  }
  
  /* CSS */
  .button-33 {
    background: -webkit-linear-gradient(215deg, #32d994 0%, #0d9728 100%);
  background: linear-gradient(215deg, #32d994 0%, #0d9728 100%);
   
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color:white;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  .second-image{
    width:60%;
    height: auto;
  }
  img {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:7px;
    max-width:50%;
    height:auto;
    width:80%;
    clip: rect(0px,60px,200px,0px);
    
  }
  @media only screen and (max-width: 768px) {
    img {
      max-width: 80%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    img {
      max-width: 100%;
    }
  }