body{
    background-color: lightblue;
  }

h1{
    text-align: center;
   
}

.image{
    width: 500px;
    height:500px;
    padding:2em;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#navbar {
    overflow: hidden;
    background-color: pink;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  .content {
    padding: 16px;
  }
  
