body{
    background-color: lightblue;
  }

h1{
    text-align: center;
   
}

.image{
    width: 500px;
    height:500px;
    padding:2em;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}